$light-blue: #9bb5d0;
$hover-color: #3a8bdf;
$dark-blue: #45688c;
$blue-text: #3e5872;
$green-check: #a6d09b;

*{
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}


html{
	box-sizing: border-box;
	font-size: 20px;
	background-color:$light-blue;
}

#root{
	background-color:$light-blue;
}

button{
	&:focus{
		outline:0px;
	}
	&:hover{
		color:$hover-color;
	}
	&:disabled{
		opacity:0.1;
	}
}

.x_grid_master{
	margin:auto;
	margin-top: 4rem;
	display:grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	grid-template-areas: 
	"title title"
	". main";
}

	.x_Title{	
		grid-area:title;
		display:flex;
	}
		.x_grid_title_button{
			height:2.5rem;
			width:3rem;
			color:$dark-blue;
			font-size:3.5rem;
			line-height:0rem;
			background-color:rgba(1,1,1,0);
			border:none;
			font-weight:900;
		}
		.x_grid_title_title{
			color:white;
			font-weight:900;
		}

	.x_Main1{		
		grid-area:main;
		display: grid;
		grid-template-areas:
		"box note"
		". note";
	}
		.x_grid_main_checkbox{
			border:none;
			grid-area:box;
			height:2rem;
			width: 2rem;
		}
		.x_grid_main_note{
			font-weight:300;
			line-height:1.7rem;
			grid-area:note;
			color:white;
			font-size:2rem;
			width:17rem;
		}
	.x_Main2{
		grid-area:main;
		display: grid;
		grid-template-areas:
		"input input"
		". commit";
		width:70%;
	}

		.x_grid_main_input{
			color:$blue-text;
			grid-area:input;
			font-size:2rem;
			height:5rem;
		}
		.x_grid_main_commit{
			grid-area:commit;
			width:5rem;
			border:none;
			color:$dark-blue;
			font-size:2rem;
			background-color:rgba(1,1,1,0);
			font-weight:900;
		}

#green-check{
	font-size:2.5rem;
	color:$green-check;
}

// Import Bootstrap and its default variables
// @import "~bootstrap/scss/bootstrap";